{% extends "template.html" %}
{% load static %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/index.css' %}"> 
{% endblock %}

{% block content %}
    {% if latest_labs_list %}
        <h1 class="page-title">Here you can see list of available labs</h1>
        <ol class="labs-list">
            {% for laboratory in latest_labs_list %}
            <div class="labs-list__item">
                <li><a href="{% url 'detail' laboratory.id %}">{{laboratory.title}}</a></li>
            </div>
            {% endfor %}
        </ol>
        {% else %}
        <p class="no-labs-template">No labs are available.</p>
    {% endif %}
{% endblock %}