{% extends "template.html"%}

{% block content %}

{% load crispy_forms_tags %}

<!--Login-->
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-lg-6">
  <h1 class="py-1 text-center">Login</h1>

      <form method="POST">
        {% csrf_token %}
        {{ login_form|crispy }}
        <div class="pt-3 text-center">
          <button class="btn btn-primary" type="submit">Login</button>
        </div>
      </form>
      <a href="/register-student"> <p class="text-center">Don't have an account? Create.</p></a>
    </div>
  
</div>

{% endblock %}
